_data/worlds/Bedrock[[:space:]]level/level.dat filter=lfs diff=lfs merge=lfs -text
_data/worlds/Bedrock[[:space:]]level/level.dat_old filter=lfs diff=lfs merge=lfs -text
_data/worlds/Bedrock[[:space:]]level/levelname.txt filter=lfs diff=lfs merge=lfs -text
